/bin
/build
/test-output
/RunReports
/out
/logs
/lib/drivers/mac/*
debug.log
runTest.xml
/.idea
/.gradle

#Gradle
.gradle
.gradle/*
gradle/*
gradlew
gradlew.bat


#Eclipse
.settings
/.settings
.classpath
.project


#Intellij
*.iml
/.idea
.idea
.idea/*
.idea/workspace.xml


#Mac OS
*.DS_Store

#allure
.allure
lib/drivers/windows/*.exe

#Framework
securetext*.properties
activeUsers-*

sample-cucumber-selenium-Allure/


.vscode/

src/test/resources/config/environments/*LOCAL*.properties